*{
    margin:  0 auto;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: white;
    margin-bottom: 30px;
}

body{
    background-repeat: no-repeat;
    background-position: relative;
    background-size: 1300px 650px;
    background-image: url(https://mcusercontent.com/8d01a411f692a38c571bf7140/images/38b8e4c2-4fab-8a8f-02da-9b1c2321ce06.png);
}


.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 900px;
    min-height: 400px;
    background-color: rgba(192, 189, 184, 0.466);
    margin-top: 70px;
    align-items: center;
}



button:hover{
    background-color: rgb(242, 243, 233);
    color: black;
    text-align: center;
    font-size: 17px;
    border-radius: 10px;
}

p{
    font-family: 'Pacifico', cursive;
    align-items: center;
    font-size: 16px;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: rgb(17, 15, 15);
    color: rgb(102, 71, 241);
    
}
button{
    border: rgb(255, 252, 252);
    padding: 10px;
    background-color: rgb(44, 46, 48);;
    color: whitesmoke;
    font-family: 'Fredoka One', cursive;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-left: 100px;
}
.imagem{
    max-width: 200px;
    min-height: 200px;
    
}
.texto{
    max-width: 400px;
    min-height: 200px;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}
img{
    width: 300px;
    height: 200px;
}